<h3>National Leaderboard
   <small>Most Fit Companies</small>
</h3>
<div ng-controller="NGTableCtrl as table" class="container-fluid">
   <!-- Row Select Example-->
   <div class="panel panel-default">
      <div class="panel-heading">
         <button ng-click="table.tableParams3.data[1].$selected = true" class="pull-right btn-sm btn btn-default">Select 2nd Row</button>
         <div class="panel-title">Select Rows</div>
      </div>
      <table ng-table="table.tableParams3" class="table ng-table-rowselected">
         <tr ng-repeat="user in $data" ng-click="user.$selected = !user.$selected; changeSelection(user)" ng-class="{'active': user.$selected}">
            <td data-title="'Name'">{{user.name}}</td>
            <td data-title="'Score'">{{user.age}}</td>
         </tr>
      </table>
</div>