<div class="container-md">
   <div class="row">
      <div class="col-md-3">
         <div class="panel b">
            <div class="panel-heading bg-gray-lighter text-bold">Personal Settings</div>
            <div ng-init="settingActive = 1" class="list-group"><a href="" ng-click="settingActive=1" ng-class="{'active': (settingActive == 1)}" class="list-group-item">Profile</a><a href="" ng-click="settingActive=2" ng-class="{'active': (settingActive == 2)}" class="list-group-item">Account</a>
            </div>
         </div>
      </div>
      <div class="col-md-9">
         <div ng-show="settingActive == 1">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Profile</div>
               <div class="panel-body">
                  <form action="">
                     <div class="form-group">
                        <label>Picture</label>
                        <input filestyle="" type="file" data-input="false" data-classbutton="btn btn-default" data-classinput="form-control inline" data-button-text="Upload new picture" data-icon-name="fa fa-upload mr" class="form-control"
                        />
                     </div>
                     <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" />
                     </div>
                     <div class="form-group">
                        <label>Bio</label>
                        <textarea rows="3" class="form-control"></textarea>
                     </div>
                     <div class="form-group">
                        <label>URL</label>
                        <input type="text" class="form-control" />
                     </div>
                     <div class="form-group">
                        <label>Company</label>
                        <input type="text" class="form-control" />
                     </div>
                     <div class="form-group">
                        <label>Location</label>
                        <input type="text" class="form-control" />
                     </div>
                     <button type="button" class="btn btn-info">Update settings</button>
                     <p>
                        <small class="text-muted"></small>
                     </p>
                  </form>
               </div>
            </div>
         </div>
         <div ng-show="settingActive == 2">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Account</div>
               <div class="panel-body">
                  <form action="">
                     <div class="form-group">
                        <label>Current password</label>
                        <input type="password" class="form-control" />
                     </div>
                     <div class="form-group">
                        <label>New password</label>
                        <input type="password" class="form-control" />
                     </div>
                     <div class="form-group">
                        <label>Confirm new password</label>
                        <input type="password" class="form-control" />
                     </div>
                     <button type="button" class="btn btn-info">Update password</button>
                     <p>
                        <small class="text-muted">* don't forget you changed it!</small>
                     </p>
                  </form>
               </div>
            </div>
            <div class="panel b">
               <div class="panel-heading bg-danger text-bold">Delete account</div>
               <div class="panel-body bt">
                  <p>You will be asked for confirmation before delete account.</p>
                  <button type="button" class="btn btn-default">
                     <span class="text-danger">Delete account</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
