<h3>
   <!-- START Language list-->
   <div class="pull-right">
      <div uib-dropdown="" is-open="language.listIsOpen" class="btn-group">
         <button type="button" uib-dropdown-toggle="" class="btn btn-default">{{language.selected}}
            <span class="caret"></span>
         </button>
         <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
            <li ng-repeat="(localeId, langName) in language.available"><a ng-click="language.set(localeId, $event)" href="#">{{langName}}</a>
            </li>
         </ul>
      </div>
   </div>
   <!-- END Language list    -->
   SCORE BOARD
  <!--  <small>{{ 'dashboard.WELCOME' | translate:{ appName: app.name } }} !</small> -->
</h3>
<!-- START widgets box-->
<div class="row">
   <div class="col-lg-3 col-sm-6">
      <!-- START widget-->
      <div class="panel widget bg-primary">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-primary-dark pv-lg">
               <em class="icon-cloud-upload fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0">15,000
               <small>Steps Taken</small>
                   </div>
               <div class="text-uppercase">Traveler</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-sm-6">
      <!-- START widget-->
      <div class="panel widget bg-purple">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-purple-dark pv-lg">
               <em class="icon-globe fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0">700
                  <small>Calories Burned</small>
               </div>
               <div class="text-uppercase">Athlete</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-12">
      <!-- START widget-->
      <div class="panel widget bg-green">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-green-dark pv-lg">
               <em class="icon-bubbles fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0">40
                  <small>Stairs Climbed</small>
               </div>
               <div class="text-uppercase">Mountaineer</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-12">
      <!-- START date widget-->
         <div class="panel widget bg-purple">
            <div class="row row-table">
               <div class="col-xs-4 text-center bg-purple-dark pv-lg">
                  <em class="icon-globe fa-3x"></em>
               </div>
               <div class="col-xs-8 pv-lg">
                  <div class="h2 mt0">1,700
                     <small>BMR</small>
                  </div>
                  <div class="text-uppercase">Staying Healthy</div>
               </div>
            </div>
         </div>
      </div>
      <!-- END date widget    -->
   </div>
</div>
<!-- END widgets box-->


<!-- START panel-->
<div class="panel panel-default">

<!--Leaderboard-->
   <div class="panel-heading">Leaderboard</div>

   <!-- START table-responsive-->
   <div class="table-responsive">
      <table id="table-ext-1" class="table table-bordered table-hover">
         <thead>
            <tr>
               <th></th>
               <th></th>
               <th>Category</th>
               <th></th>
               <th>Department</th>
               <th>Incentive</th>
               <th></th>
               <th></th>
               <th check-all="check-all">
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>1</td>
               <td>
                  <div class="media">
                     <img src="img/user/01.jpg" alt="Image" class="img-responsive img-circle" />
                  </div>
               </td>
               <td>Traveler</td>

               <td class="trackerSteps">15,000 Steps taken</td>

               <td class="userDepartment">Marketing</td>
               <td class="adminGoal1">Extra Vacation Day</td>
               <td class="text-center">
                  <div data-label="25%" class="radial-bar radial-bar-25 radial-bar-xs"></div>
               </td>
               <td>1 week</td>
               <td>
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </td>
            </tr>
            <tr>
               <td>2</td>
               <td>
                  <div class="media">
                     <img src="img/user/02.jpg" alt="Image" class="img-responsive img-circle" />
                  </div>
               </td>
               <td>Athlete</td>
               <td class="trackerCalorie">20,000 Calories burned</td>
               <td class="userDepartment">Warehouse</td>
               <td class="adminGoal2">Basketball Tickets</td>
               <td class="text-center">
                  <div data-label="50%" class="radial-bar radial-bar-50 radial-bar-xs"></div>
               </td>
               <td>25 minutes</td>
               <td>
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </td>
            </tr>
            <tr>
               <td>3</td>
               <td>
                  <div class="media">
                     <img src="img/user/03.jpg" alt="Image" class="img-responsive img-circle" />
                  </div>
               </td>
               <td>Mountaineer</td>
               <td class="trackerFloor">40 Floors climbed</td>
               <td class="userDepartment">Mail</td>
               <td class="adminGoal3">Lunch for entire Department</td>
               <td class="text-center">
                  <div data-label="80%" class="radial-bar radial-bar-80 radial-bar-xs"></div>
               </td>
               <td>10 hours</td>
               <td>
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <!-- END table-responsive-->
   <div class="panel-footer">
      <div class="row">
         <div class="col-lg-2">
            <div class="input-group">
               <input type="text" placeholder="Search" class="input-sm form-control" />
               <span class="input-group-btn">
                  <button type="button" class="btn btn-sm btn-default">Search</button>
               </span>
            </div>
         </div>
         <div class="col-lg-8"></div>
         <div class="col-lg-2">
            <div class="input-group pull-right">
               <select class="input-sm form-control">
                  <option value="0">Bulk action</option>
                  <option value="1">Delete</option>
                  <option value="2">Clone</option>
                  <option value="3">Export</option>
               </select>
               <span class="input-group-btn">
                  <button class="btn btn-sm btn-default">Apply</button>
               </span>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- END panel-->

