   <h3>
  
   fitbit STATS
   <small>{{ user.name }}</small>
</h3>
<div class="row">
   <div class="col-lg-4">
      <!-- START List group-->
      <ul class="list-group">
         <li class="list-group-item">
            <div class="row row-table pv-lg">
               <div class="col-xs-6">
                  <p class="m0 lead">1206</p>
                  <p class="m0">
                     <small>Steps Today</small>
                  </p>
               </div>
               
            </div>
         </li>
         <li class="list-group-item">
            <div class="row row-table pv-lg">
               <div class="col-xs-6">
                  <p class="m0 lead">416</p>
                  <p class="m0">
                     <small>Calories Burned</small>
                  </p>
               </div>
               
            </div>
         <li class="list-group-item">
            <div class="row row-table pv-lg">
               <div class="col-xs-6">
                  <p class="m0 lead">2</p>
                  <p class="m0">
                     <small>Floors Climbed</small>
                  </p>
               </div>
         </div>
         </li>
            </div>
         </li>
      </ul>
      <!-- END List group-->
   </div>
   
   <!-- END dashboard main content-->
</div>
<!-- END Multiple List group-->